[Unit]
Description=Kiln Monitor
After=local-fs.target

[Service]
Type=simple
User=brisennett
WorkingDirectory=/home/brisennett/kiln-monitor
Environment=PYTHONUNBUFFERED=1
Environment=KILN_MONITOR_READ_INTERVAL_SECONDS=2
Environment=KILN_MONITOR_SENSOR_MODEL=MAX31855
Environment=KILN_MONITOR_SPI_CS_PIN=D5
Environment=KILN_MONITOR_SQLITE_SYNCHRONOUS_MODE=FULL
ExecStart=/home/brisennett/kiln-monitor/.venv/bin/python /home/brisennett/kiln-monitor/main.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
